<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>insert good title here</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <header>
            <h1>insert header here</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/journal">My Journal</a>
            </nav>
        </header>

        <main>
            <!-- jinja2? -->
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>by ananya, claire, emily</p>
        </footer>
    </body>
</html>