<!-- jinja -->
{% extends "base.html" %}

{% block content %}
    <section class="entry-form">
        <h2>How are you feeling today?</h2>
        
        <form method="POST" action="/submit">
            <label for="mood">Select your current mood:</label>
            <div class="mood-options">
                <label><input type="radio" name="mood" value="12" required>Ecstatic</label>
                <label><input type="radio" name="mood" value="9">Happy</label>
                <label><input type="radio" name="mood" value="6">Neutral</label>
                <label><input type="radio" name="mood" value="3">Sad</label>
                <label><input type="radio" name="mood" value="0">Depressed</label>
            </div>

            <label for="tags">Tags (optional):</label>
            <input type="text" name="tags" class="tag-input" placeholder="School, sleep, stress..." >
            <label for="journal">Journal Entry (optional):</label>
            <textarea name="journal" class="journal-textarea" rows="4" maxlength="300" placeholder="Write a short reflection here..."></textarea>

            <button type="submit">Save Entry</button>
            <button>Share</button>
        </form>
    </section>
{% endblock %}