<!-- jinja -->
{% extends "base.html" %}

{% block content %}
    <section class="entry-form">
        <h2>How are you feeling today?</h2>
        
        <form method="POST" action="/submit">
            <label for="mood">Select your current mood:</label>
            <div class="mood-options">
                <label><input type="radio" name="mood" value="12" required>Ecstatic</label>
                <label><input type="radio" name="mood" value="9">Happy</label>
                <label><input type="radio" name="mood" value="6">Neutral</label>
                <label><input type="radio" name="mood" value="3">Sad</label>
                <label><input type="radio" name="mood" value="0">Depressed</label>
            </div>

            <label for="tags">Tags (optional):</label>
            <input type="text" name="tags" class="tag-input" placeholder="School, sleep, stress..." >
            <label for="journal">Journal Entry (optional):</label>
            <textarea name="journal" class="journal-textarea" rows="4" maxlength="300" placeholder="Write a short reflection here..."></textarea>

            <button type="submit">Save Entry</button>
            <button>Share</button>
        </form>
        <form method="POST" action="/submit" enctype="multipart/form-data">
            <p style="font-size: 10px;"></p>
            <label for="audio">Upload Audio Reflection (optional):</label>
            <input type="file" name="audio" accept="audio/*">
            <p style="font-size: 10px;"></p>
            <label for="video">Upload Video Reflection (optional):</label>
            <input type="file" name="video" accept="video/*">
            <p style="font-size: 10px;"></p>
            <button type="submit">Submit</button>
          </form>
    </section>
{% endblock %}