<!-- jinja -->
{% extends "base.html" %}

{% block content %}
    <section class="home-page">
        <div>
            <h1 style="font-size: 25x;" >Introducing...</h1>
            <p style="font-size: 55px;"><strong>ACE MindLog</strong></p>
            <p style="font-size: 20px;">The new number one mental health app brought to you to help</p>
            <p style="font-size: 20px;">track your mood and reflect your feelings.</p>
        </div>
    </section>
    <div class="home-links">
        <a href="/journal">My Journal</a>
        <a href="/entry">Write Entry</a>
        <a href="/graph">Graph Analysis</a>
        <a href="/settings">Settings</a>
    </div>
{% endblock %}